venv/

Logs/*
!Logs/.keep

Saves/*
!Saves/.keep

Telemetry/telemetry_logs/*
!Telemetry/telemetry_logs/.keep

outputs/*
!outputs/.keep

training/*
!training/.keep

Config/image_registry.json
Config/input_config.json
Config/settings.json
