venv/

logs/*
!logs/.keep

saves/*
!saves/.keep


outputs/*
!outputs/.keep

training/*
!training/.keep

_docs/*
_research/

_docs/full/
_research/full/

!_docs/procedural_inputs/
!_docs/model_config_guide/
!_docs/multi_image_learning/
!_docs/images/

src/__pycache__/
src/optimisers/__pycache__/
src/losses/__pycache__/
src/inputs/__pycache__/
config/__pycache__/
src/helpers/__pycache__/
src/registries/__pycache__/
.vscode/
__pycache__/

pattern_forge_outputs/
runtime/*
!runtime/.keep